body {
  background: #1e1e2e;
  font-family: "Victor Mono", monospace;
}

h1 {
  color: #a6e3a1;
  margin-bottom: 2px;
  font-style: italic;
}

p {
  color: #a6e3a1;
  margin-top: 2px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
